.mainContainer {
  background-color: #eee;
  overflow: auto;
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10vh;
}

.subContainer {
  flex-basis: 90%;
  text-align: center;
}