.name {
    font-size: 20px;
    color: white;
}

.nameContainer :hover {
    text-decoration-color: var(--color-underline);
    text-decoration: underline;
    cursor: pointer;
}

.nameContainer {
    text-align: center;
}

.sliderContainer {
    position: sticky;
    margin-bottom: 20%;
}

.slider {
    display: block;
    margin: auto;
}