.name {
    font-size: 20px;
    color: white;
}

.nameContainer {
    text-align: center;
}

.sliderContainer {
    position: sticky;
    margin-bottom: 20%;
}

.slider {
    display: block;
    margin: auto;
}