.mainContainer {
  // background-color: #eee;
  background-image: url(../../../images/backgroundImage.png);
  overflow: auto;
  min-height: 88vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.subContainer {
  flex-basis: 90%;
  text-align: center;
}

.heroHeading {
  font-size: 70px;
  text-shadow: 5px 5px 2px var(--color-shadow);
  font-weight: 800;
  color: var(--color-text);
  margin-bottom: 50px;
}