*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.imageContainer {
    display: table;
    width: 80%;
    float: right;
}

.image {
    grid-area: image;
    height: 100%;
    width: 100%;
    filter: saturate(0%);
}
