.formContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 88vh;
    background-image: linear-gradient(
        45deg,
        red,
        orange,
        yellow,
        green,
        blue,
        purple,
        violet
    );
    background-size: 500%;
    animation: bg-animation 12s infinite alternate;
}

.form {
    background-color: white;
    padding: 25px 40px;
    border-radius: 10px;
}

@keyframes bg-animation {
    0% {background-position: left}
    100% {background-position: right}
}

.formInput {
    margin-bottom: 15px;
    font-size: 16px;
    padding: 15px 20px;
    border: thin var(--color-blackblack) solid;
    width: 100%;
    min-width: 400px;
}

.formHeading {
    font-size: 30px;
    color: black;
    margin-bottom: 10%;
    margin-top: 5%;
}

.formButton {
    height: 40px;
    display: table;
    margin: auto;
    background: var(--color-button-background);
    color: white;
    border: none;
    margin-top: 5%;
}

.buttonContainer :hover {
    cursor: pointer;
}

.formButton :hover {
    cursor: pointer;
}

.error {
    color: red;
}