.bar {
    display: flex;
    align-items: center;
    min-height: 12vh;
    max-height: 12vh;
    background: #070B17;
    color: white;
    position: sticky;
    width: 100%;
}

.title {
    display: block;
    margin-left: 6%;
    font-size: 35px;
    text-decoration: none;
    color: white;
}

.navLinks {
    width: 25%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    color: white;
    margin-left: 50%;
}

.navLinks :hover {
    text-decoration: underline;
}

.links {
    color: white;
    text-decoration: none;
}