.bar {
    display: flex;
    align-items: center;
    min-height: 12vh;
    max-height: 12vh;
    background: var(--color-header);
    color: var(--color-text);
    position: sticky;
    width: 100%;
}

.title {
    display: block;
    margin-left: 6%;
    font-size: 50px;
    text-decoration: none;
    font-family: Brush Script MT, Brush Script Std, cursive;
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);   -webkit-background-clip: text;
    color: transparent;
}

.navLinks {
    width: 25%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    color: var(--color-text);
    margin-left: 50%;
}

.navLinks :hover {
    text-decoration-color: var(--color-underline);
    text-decoration: underline;
}

.links {
    color: var(--color-text);
    text-decoration: none;
}