.mainContainer {
  background-color: var(--color-button-background);
  color: white;
  border: 1px solid var(--color-dark-border);
  border-radius: 5px;
  padding: 15px 40px;
  font-size: 20px;
}

.mainContainer:hover {
  background-color: var(--color-button-hover);
  cursor: pointer;
}