.links:active {
  text-decoration: none;
}

.mainContainer{
  display: flex;
  justify-content: center;
}

.childContainer {
  margin-top: 5vh;
  flex-basis: 90vw;
}

.links:hover {
  text-decoration: none;
  color: #c2c1c1;
}

.links {
  color: #eee;
  text-decoration: none;
}

.formInput {
  margin-left: 1rem;
  margin-bottom: 15px;
  font-size: 16px;
  padding: 15px 20px;
  border: thin black solid;
  width: 60%;
}

.formHeading {
  color: #eee;
  padding-bottom: 0.5rem;
  font-size: 25px;
  margin: 0.25rem;
  margin-left: 1rem;
}

.formButton {
  // padding: 0.5rem;
  // height: 40px;
  display: table;
  margin-left: 1rem;
  margin-bottom: 0.5rem;
  padding: 12px 40px;
  background-color: var(--color-button-background);
  color: var(--color-text);
  border: 0;
}

.formButton:hover {
  cursor: pointer;
}

.formButton:active {
  background-color: #c2c1c1;
  cursor: pointer;
}

.error {
  color: red;
}

.success {
  color: #56c000
}