.mainContainer {
  background-color: #3B3E47;
  min-height: 88vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.subContainer {
  flex-basis: 70%;
  text-align: center;
  display: inline-block;
}

.uploadBoxDropZone {
  padding: 40px;
  background-color: #525459;
  border: 2px dashed gray;
  display: block;
}

.uploadBoxDropZoneHeading {
  color: white;
}

.uploadBoxDropZoneIcon {
  color: white;
  font-size: 40px;
}

.uploadButton {
  margin-top: 40px;
  background-color: black;
  color: white;
  padding: 10px 20px;
}