.mainContainer {
  background-color: var(--color-dark-grey);
  min-height: 78vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.subContainer {
  flex-basis: 70%;
  text-align: center;
  display: inline-block;
}

.uploadBoxDropZone {
  padding: 40px;
  background-color: var(--color-dark-grey);
  border: 2px dashed var(--color-light-grey);
  display: block;
}

.uploadBoxDropZoneHeading {
  color: var(--color-text);
}

.uploadBoxDropZoneIcon {
  color: var(--color-text);
  font-size: 40px;
}

.uploadButton {
  margin-top: 40px;
  background-color: var(--color-button-background);
  color: var(--color-text);
  padding: 10px 20px;
}

.bar {
  display: flex;
  align-items: center;
  min-height: 10vh;
  max-height: 10vh;
  background: #242834;
  color: var(--color-text);
  position: sticky;
  width: 100%;
}

.navLinks {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  color: var(--color-text);
  margin-left: 24%;
}

.navLinks :hover {
  text-decoration-color: var(--color-underline);
  text-decoration: underline;
}

.links {
  color: var(--color-text);
  text-decoration: none;
}