.mainContainer {
  background-color: var(--color-dark-grey);
  min-height: 78vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.subContainer {
  flex-basis: 90%;
  text-align: center;
  display: inline-block;
}

.uploadBoxDropZone {
  padding: 15vh;
  background-color: var(--color-dark-grey);
  border: 2px dashed var(--color-light-grey);
  display: block;
}

.uploadBoxDropZoneHeading {
  color: var(--color-text);
  font-size: 40px;
  font-weight: 400;
  margin-bottom: 20px;
}

.uploadBoxDropZoneIcon {
  color: var(--color-text);
  font-size: 40px;
}

.uploadButton {
  margin-top: 40px;
  background-color: var(--color-button-background);
  color: var(--color-text);
  padding: 15px 40px;
  font-size: 18px;
  border-radius: 5px;
}

.uploadButton:hover {
  background-color: var(--color-button-background);
}

.bar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  min-height: 10vh;
  max-height: 10vh;
  background: #242834;
  color: var(--color-text);
  position: sticky;
  width: 100%;
}

.navLinks {
  display: flex;
  justify-content: flex-end;
  margin-right: 5vw;
  align-items: center;
  list-style: none;
  color: var(--color-text);
}

.navLinks :hover {
  text-decoration-color: var(--color-underline);
  text-decoration: underline;
}

.link {
  color: var(--color-text);
  text-decoration: none;
  margin-left: 2vw;
}

// .link:hover {
//   text-underline-offset: 5px;
// }